@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
  margin: 0;
  padding: 0;
}
section.menu {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 40;
  top: 0;
  transition-duration: .05s;
  transition-property: top;
  transition-timing-function: ease-in;
  font-size: 16px;
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    padding: .75rem 2.25rem;
    justify-content: space-between;
    a {
      color: #fff;
      flex-grow: 0;
      &:first-child {
        flex-grow: 1
      }
    }
    @media (max-width: 512px) {
      a, app-language-switcher {
        display: none;
      }
      a:first-child {
        display: block;
        text-align: center;
      }
    }
  }
  .contact {
    height: 42px;
    text-decoration: none;
    background-color: var(--tui-primary);
    border-radius: var(--tui-radius-xl);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 120px;
    margin-left: .75rem;
    &._disabled {
      pointer-events: none;
      opacity: var(--tui-disabled-opacity);
    }
  }
  .link {
    flex: 1;
    margin-left: .75rem;
  }
}
section.header, section.content {
  color: #fff;
  overflow: hidden;
  z-index: 10;
  position: relative;
  margin-top: 84px;
  .offer {
    min-height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 20;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    .title__container {
      text-align: center;
      p {
        font-weight: 900;
        font-size: 1.15rem;
        margin: 1.5rem 0;
      }
      h1 {
        font-weight: 300;
        font-size: 4.375rem;
        line-height: 1em;
        margin: 0;
      }
      @media (max-width: 1024px) {
          h1 {
            font-size: 3rem;
          }
      }
      @media (max-width: 768px) {
        h1 {
          font-size: 2.5rem;
        }
      }
      .links__container {
        width: 100%;
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0;
        font-size: 16px;
        .link {
          width: 150px;
          height: 42px;
          border: 2px solid #fff;
          border-radius: var(--tui-radius-m);
          text-decoration: none;
          margin: 0 15px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.25);
          }
          span {
            color: #fff;
          }
        }
      }
      @media (max-width: 512px) {
        .links__container{
          flex-direction: column;
          .link:last-child {
            margin-top: 15px
          }
        }
      }
    }
  }
  @media (min-width: 1440px) {
    .offer {
      padding: 11rem 0 10rem 0;
    }
  }
  .img__break {
    background-image: url(/assets/media/img-break.png);
    background-repeat: repeat-x;
    background-size: contain;
    transform: scaleY(-1);
    width: 100%;
    height: 3rem;
    z-index: 20;
    position: relative;
  }
}
section.slider {
  margin: 20px;
  overflow: hidden;
  .slider__container {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
section.faq {
  max-width: 1200px;
  margin: 0 auto;
  .container {
    width: 100%;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      text-align: center;
      font-size: 2rem;
      margin: 1rem;
      p {
        margin: 1rem;
        padding: 0;
      }
      p:last-child {
        color: var(--tui-primary);
      }
    }
    ul {
      padding: 0;
      margin: 0 2rem;
      li {
        margin-top: 1.25rem;
        background-color: rgb(9, 9, 9);
        color: #fff;
        border-radius: 10px;
        display: block;
        position: relative;
        .head {
          display: flex;
          font-size: 1.375rem;
          padding: 2rem;
          font-weight: 900;
          justify-content: space-between;
          cursor: pointer;
          width: 100%;
          background-color: rgb(9, 9, 9);
          color: #fff;
          border: 0;
          .icon {
            transition-property: transform;
            transition-duration: var(--tui-duration, 300ms);
            transition-timing-function: ease-in-out;
            margin-left: 0.25rem;
            &_rotated {
              transform: rotate(180deg);
            }
          }
        }
        .desc {
          overflow: hidden;
          p {
            padding: 0 2rem 1.5rem;
            font-size: 1.125rem;
            a {
              color: #526ed3
            }
          }
        }
      }
    }
    @media (max-width: 1024px) {
      ul {
        margin: 0 1rem;
      }
    }
  }
}
section.content {
  .offer {
    display: flex;
    align-items: inherit;
    flex-wrap: wrap;
    .title__container {
      p {
        font-size: 1rem;
      }
      h1 {
        line-height: 1.3;
        font-size: 2.375rem;
        margin-bottom: 2.5rem;
      }
    }
  }
  .pricing {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    .block {
      position: relative;
      background-color: rgba(0, 0, 0, 0.75);
      box-shadow: #020202 0 0 2px, #1d2228 0 12px 24px -4px;
      padding: 32px;
      border-radius: 7px;
      margin: 12px;
      min-height: calc(100% - 70px);
      &:nth-child(2) {
        min-height: calc(100% - 32px);
        box-shadow: #8d8d8d 0 0 2px, #1d2228 0 12px 24px -4px;
      }
      .title {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: .03125em;
        opacity: 0.75;
      }
      .price {
        display: flex;
        justify-content: center;
        margin: 28px 0;
        font-size: 44px;
        line-height: 54px;
        height: 54px;
        .currency {
          font-size: 1.4rem;
          font-weight: 600;
          line-height: 2rem;
          letter-spacing: .0125em;
        }
        .period {
          font-size: 0.75rem;
          line-height: 6.2rem;
        }
      }
      .list {
        padding: 8px 0;
        .item {
          font-size: 1rem;
          min-width: 300px;
          line-height: 2rem;
          .icon {
            color: #11ab50;
            margin-right: 8px;
            &[src="tuiIconClose"] {
              color: #bf2929;
            }
          }
        }
      }
      .link {
        width: 300px;
        height: 42px;
        position: absolute;
        bottom: 32px;
        background-color: var(--tui-primary);
        border-radius: var(--tui-radius-xl);
        text-decoration: none;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        &._disabled {
          pointer-events: none;
          opacity: var(--tui-disabled-opacity);
        }
        span {
          color: #fff;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    .pricing {
      flex-direction: column;
      height: max-content;
      .block {
        height: 456px;
        &:nth-child(2) {
          height: 456px;
        }
      }
    }
  }
  .discord {
    display: flex;
    margin-top: 6rem;
    flex-direction: column;
    align-items: center;
    a {
      color: var(--tui-primary);
    }
    .container {
      display: flex;
      .link {
        display: flex;
        flex-direction: row;
        font-size: 16px;
        justify-content: space-around;
        align-items: center;
        width: 340px;
        height: 75px;
        border-radius: var(--tui-radius-m);
        text-decoration: none;
        margin: 3rem 1rem 0 1rem;
        &.boosty {
          background-color: var(--boosy-primary);
        }
        &.discord {
          background-color: var(--discrod-primary);
        }
        span {
          color: #fff;
        }
      }
      @media (max-width: 1024px) {
        .link {
          margin: 2rem 1rem 0 1rem;
        }
      }
    }
    h2 {
      margin: 0;
      line-height: 43px;
      font-size: 36px;
      text-align: center;
    }
  }
  @media (max-width: 1024px) {
    .discord {
      margin: 3rem 1rem;
      .container {
        flex-direction: column;
      }
    }
  }
  .img__break {
    transform: none;
  }
}
section.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 40, 41);
  .container {
    display: flex;
    margin: 40px 0 20px;
    .icon {
      margin: 0 10px;
      background-color: #181818;
      border-radius: 50%;
      width: 36px;
      height: 18px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: flex-end;
      flex-direction: row;
    }
  }
  .anchor {
    a {
      color: #fff;
    }
    .policy {
      height: var(--tui-height-s);
      transition-duration: .3s;
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      text-decoration: none;
      background: var(--tui-clear-inverse);
      border-radius: 6.25rem;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      position: relative;
      margin: 0 .75rem .75rem;
      font: var(--tui-font-text-s);
      padding: 0 var(--tui-padding, .75rem);
      &:hover {
        background: var(--tui-clear-inverse-hover);
      }
      &:active {
        background: var(--tui-clear-inverse-active);
      }
    }
  }
}
