<section class="header">
  <div class="offer">
    <div class="title__container">
      <p>{{"pagenotfound.subtitle" | translate}}</p>
      <h1 class="mb-2">{{"pagenotfound.title" | translate}}</h1>
      <div class="links__container">
        <a class="link" routerLink="/"><span>{{"pagenotfound.return" | translate}}</span></a>
      </div>
    </div>
  </div>
  <picture>
    <img alt="" ngSrc="/assets/media/output.jpg" height="1152" width="2048">
  </picture>
  <div class="img__break"></div>
</section>
