<div class="wrapper">
  <div class="back">
    <a routerLink="/">
      <tui-svg src="tuiIconBackCircleLarge" class="icon"></tui-svg>
    </a>
  </div>
  <picture>
    <img alt="" ngSrc="/assets/media/output.jpg" height="1152" width="2048">
  </picture>
  <div class="row">
    <div class="logo-column">
      <div class="logo">
        <a routerLink="/">
          <app-svg-logo [width]="500" [height]="100"></app-svg-logo>
        </a>
      </div>
    </div>
    <div class="form-column">
      <div class="column-wrapper">
        <div class="container">
          <div class="header">Account</div>
          <div class="account_name">Biologed</div>
          <div class="account_container">
            <div class="column">
              <div class="row">
                <b>EMAIL</b>
                <div>yurname&#64;mail.ru</div>
              </div>
              <div class="row">
                <b>REGISTER DATE</b>
                <div>22.07.2024 17:20</div>
              </div>
            </div>
            <div class="column">
              <div class="row">
                <b>SETTINGS</b>
                <div>Change Email</div>
                <div>Change Password</div>
              </div>
              <div class="row">
                <b>DOWNLOADS</b>
                <div>Plugins</div>
                <div>Apps</div>
              </div>
            </div>
            <div class="column">
              <div class="row">
                <b>PAYMENT METHODS</b>
                <div>CARD</div>
              </div>
            </div>
          </div>
          <div class="subheader">Invoices</div>
          <div class="invoices_container">
            <div class="column">
              <div class="row"><b>DATE</b></div>
              <div class="row">Jul 20, 2024</div>
              <div class="row">Jul 20, 2024</div>
            </div>
            <div class="column">
              <div class="row"><b>DESCRIPTION</b></div>
              <div class="row">ADSCore Pro for 1 user</div>
              <div class="row">ADSCore Pro for 1 user</div>
            </div>
            <div class="column">
              <div class="row"><b>PAID</b></div>
              <div class="row">Paid</div>
              <div class="row">Paid</div>
            </div>
            <div class="column">
              <div class="row"><b>TOTAL</b></div>
              <div class="row">$300</div>
              <div class="row">free</div>
            </div>
            <div class="column">
              <div class="row"></div>
              <div class="row">VIEW INVOICE</div>
              <div class="row">VIEW INVOICE</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
