<div class="wrapper">
  <div class="back">
    <a routerLink="/">
      <tui-svg src="tuiIconBackCircleLarge" class="icon"></tui-svg>
    </a>
  </div>
  <picture>
    <img alt="" ngSrc="/assets/media/output.jpg" height="1152" width="2048">
  </picture>
  <div class="row">
    <div class="logo-column">
      <div class="logo">
        <a routerLink="/">
          <app-svg-logo [width]="500" [height]="100"></app-svg-logo>
        </a>
      </div>
    </div>
    <div class="form-column">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
